/* ================= 
MAIN.CSS
================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Graphik Web';
    src: url('Graphik-Regular-Web.eot');
    src: url('Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
    url('Graphik-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Semibold';
    src: url('Graphik-Semibold.otf');
}

@font-face {
    font-family: 'Fugue';
    src: url('Fugue-Regular.otf');
}

@font-face {
    font-family: 'Ogg';
    src: url('Ogg-Roman.otf')
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

#container {
    background: url(images/wavy_new.jpg) no-repeat 50% 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: fixed;
}

.limit {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.prop1,
.prop2,
.prop3,
.prop4 {
    cursor: move;
    position: absolute;
    height: 50px;
    width: 50px;
    text-align: center;
/*    border: 1px solid white;*/
}

.prop1:hover,
.prop2:hover,
.prop3:hover,
.prop4:hover {
/*    background-image: url("images/test-05.svg");*/
}

.location,
.visual,
.media,
.content {
    position: absolute;
}

.location {
    width: 144px;
    height: 99px; 
    background-image: url("images/location.svg");
}

.visual {
    width: 143px;
    height: 142px;
    background-image: url("images/visual.svg");    
}

.media {
    width: 142px;
    height: 46px;
    background-image: url("images/media.svg");
}

.content {
    width: 143px;
    height: 124px;
    background-image: url("images/content.svg");
}

.prop1 p,
.prop2 p,
.prop3 p,
.prop4 p {
    display: none;
    font-family: 'Graphik Web';
    width: 100%;
    top: 50px;
    right: -50px;
    position: absolute;
    font-size: 1.25em;
    color: black;
}

.sort {
    display: none;
}

.sort #prop1 {
   position: absolute;
   top: 120px;
   left: 100px;
   width: 40%;
   height: 250px;
   background: none;
   border: 2px solid #29C171; 
}

.sort #prop2 {
   position: absolute;
   top: 120px;
   right: 100px;
   width: 40%;
   height: 250px;
   background: none;
   border: 2px solid #7F6D1F; 
}

.sort #prop3 {
   position: absolute;
   bottom: 120px;
   left: 100px;
   width: 40%;
   height: 250px;
   background: none;
   border: 2px solid #804418; 
}

.sort #prop4 {
   position: absolute;
   bottom: 120px;
   right: 100px;
   width: 40%;
   height: 250px;
   background: none;
   border: 2px solid #305689; 
}

.sort .prop1,
.sort .prop2,
.sort .prop3,
.sort .prop4 {
    position: relative;
    display: inline-block;
    left: 35px !important;
    top: 45px !important;
    transform: scale(.5);
    margin-top: 30px;
    margin-right: 60px;
    z-index: 999999;
}



.list-view {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.list {
    overflow: scroll;
    margin: auto;
    margin-top: 90px;
    width: 80%;
    height: 70%;
    background-color: white;
    padding: 35px;
}

.list .description {
    display: none;
    position: absolute;
    right: 20%;
    top: 20%;
}

.list img {
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

.list ul {
    font-family: New Rail Alphabet;
    font-weight: 200; 
}

.active {
    display: block !important; 
}

div h1 {
    font-size: 2em;
    font-family: 'Fugue';
    color: white;
}

a:link {
    text-decoration: none;
}

div p {
    font-size: .75em;
    font-family: 'Graphik Web';
    font-weight: 200;
    color: white;
}

.title-left {
    font-family: 'Fugue';
    font-size: 2em;
    float: left;
    margin: 30px 0 0 30px;

}

.title-right {
    font-family: 'Fugue';
    font-size: 2em;
    float: right;
    margin: 30px 30px 0 0;
}

#bottom {
    box-sizing: border-box;
    background-color: rgba(0,0,0,1);
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    z-index: 99999999;
}

.manifesto-toggle,
.schedule-toggle {
    float: left;
    cursor: pointer;
    padding-top: 20px;
    padding-right: 40px;
}

.list-toggle,
.sort-toggle {
    float: right;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 40px;
}

.schedule {
    overflow: scroll;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
    z-index: 9999999;
}

.schedule li {
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: "Ogg";
    color: white;
    text-transform: uppercase;
}

.schedule ul:last-child {
    margin-bottom: 200px;
}

.schedule .complete {
    text-decoration: line-through;
}

.versions h1 {
    display: inline-block;
    font-family: "Ogg";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.versions .number {
    float: right;
    margin-left: 10px;
    font-family: 'Graphik Semibold';
    letter-spacing: 2px;
}

.versions:last-child {
    margin-bottom: 200px;
}

.versions p {
    color: white;
    font-family: "Ogg";
    font-size: 20px;
    line-height: 24px;
    margin-left: 20%;
    margin-right: 20%;
}

.versions li {
    margin-bottom: 50px;
}

.manifesto {
    overflow: scroll;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
    z-index: 9999999;
}

.appear {
    display: block !important; 
}

.disable {
    pointer-events: none;
    opacity: .35;
}

.material {
   font-size: 1.25em; 
}

.entry {
    font-size: .75em;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}