.masthead .social,
.sub,
.footer
{
	display: none;
}
body {
	background: black;
}

/*
.shim {
	height: 100%;
	width: 1010px;
	margin: 0 auto;
	background-color: black;
	overflow: hidden;
}
*/

.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	overflow: visible;
}

.masthead {
	background-color: #00FF91;
}





/* drop down menu test */

/*
.cbp-spmenu {
	background: #47a3da;
	position: fixed;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}
*/





/* mica brand */

.masthead .brand {
	position: absolute; /* ?????Do I need position absolute to center vert. in container???? */
	top: 20%;
	vertical-align: top;
	width: 98px;
	background-color: black;
}

.masthead .brand a:hover {
	background-color: #00FF91;
	padding: 10px 10px;
	width: 98px;
}



/* central brand image */

.billboard {
	position: relative;
	border: 1px solid pink;
	margin: 0 auto;
/* 	margin-top: 67px; */
	max-width: 960px;
	width: 100%;
	min-height: 320px;
	height: 100%;
	overflow: hidden;
	background: url('../img/test.svg') -305px center no-repeat;
	background-size: 100% 165%; 
}

img.lines {
	display: none;
	position: absolute;
/*     ???? How to center this image ???? */
	width: 100%;
	height: 100%;
}

img.logos {
	height: 10em;
	position: absolute;
	top: 28%;
	left: 46%;
}




/* utility navigation */

.masthead .utility {
	font-family: 'BLOKKNeue-Regular';
}

.masthead .utility .link {
	position: relative;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	color: #00d062;
	text-align: center;
	z-index: 3;
}

.masthead .utility .link:hover {
	font-family: Caxton Std;
	font-size: 12px;
	line-height: 19px;
	background-color: black;
	color: #00FF91;
}

.masthead .utility .link:active {
	font-family: Caxton Std;
	font-size: 12px;
	line-height: 19px;
	background-color: black;
	color: #00FF91;
}

.masthead .utility .item {
	border-left: 1px solid black;
	width: 100px;
	position: relative;
}






/* main navigation */

.navigation {
	font-family: 'BLOKKNeue-Regular', Caxton Std;
	text-transform: capitalize;
	font-weight: bold; 
	text-align: center;
}

.navigation .item {
	font-size: 24px;
	width: 190px;
}

.navigation .link {
	padding: 10px 0px;
	text-decoration: none;
	line-height: 45px;
	color: #00FF91;
	background-color: #222;
	border-left: solid 1px black;
}

.navigation .link:hover {
	background-color: #1d1d1d;
	font-family: Balto;
	box-shadow: inset 5px 0px 15px #161616, inset -5px 0px 15px #161616;
}

.navigation .link:active {
	font-family: Balto;
}

.navigation a:hover {
	background-color: red;
}






/* main content */

.main .heading {
	font-family: 'BLOKKNeue-Regular';
	list-style: none;
	text-decoration: none;	
}
		
.main .link {
	text-decoration: none;
	color: white;
}
	
.main .permalink {
	text-decoration: none;
	color: white;;
}
	

.main .date {
	color: white;
}

	
.main .copy {
		list-style: none;
		width: 10em;
		font-size: 12px;
		color: #797979;
}

.main .copy p {
		width: 10em;
		text-overflow: ellipsis; /* must be on child element */
		overflow: hidden;
		white-space: nowrap;
}
	
.main .attach  {
		height: 349px;
		width: 638px;
		background-color: black;
		margin-top: 15px;
		overflow: hidden;
	}
	
h1.page.heading {
	
}

h1.page.heading:hover {
	font-family: Caxton Std;
}

@media screen and (max-width: 500px) {
	
	/* Menu "Object" */
	
/*

    ul {
      max-height: 0;
      overflow: hidden;
      margin: 0 3.5em 0 1em;
    }

    li {
      visibility: hidden;
      display: block;
      padding: 0.5em 0.6em;
      border: none;
    }

    .navbar-handle {
      display: block;
    }
  }
  
   #navbar-checkbox:checked + .menu {
    ul {
      max-height: 300px;
    }
    
    li {
      visibility: visible;
    }
    .navbar-handle {
      &, &:after, &:before {
        border-color: #aaa;
      }
    }
  }
}

.navbar-checkbox {
    display: none;
}

.navbar-handle {
    @height: 45px; // just a reference to compute em values on the fly
    display: none;
    cursor: pointer;
    position: relative;
    font-size: @height;
    padding: .5em 0;
    height: 0;
    width: 1em * 75px / @height;
    border-top: (1em * 6px / @height) solid;

    &:before, &:after {
        position: absolute;
        left: 0;
        right: 0;
        content: ' ';
        border-top: (1em * 6px / @height) solid;
    }

    &:before {
        top: 1em * 17px / @height;
    }

    &:after {
        top: 1em * 40px / @height;
    }
}
*/
  
	.menu {
		padding-left: 0;
		margin-left: 0;
		font-size: 0;
		list-style: none;
	}
	
	.menu .item {
		display: inline-block;
		font-size: 14px; /* 1rem */
		vertical-align: top;
	}
	
	.menu .item + .item {
		margin-left: 0; /* space between items */
	}
	
	.menu .link {
		display: block;
	}

	.masthead .brand {
	}
	
	.masthead .navigation {
		text-align: center;	
	}
	
	.navigation .item {
		font-size: 24px;
	}
	
	.navigation .item + .item {
		/* margin-left: 10px; */
	}
	
	
	.masthead .utility {
		text-align: center;
	}
	
	
}

@media screen and (max-width: 960px) {
	.masthead .container {
		overflow: visible;
	}
	
	.masthead .container:before,
	.masthead .container:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.masthead .container:after {
	    clear: both;
	}
	
	.masthead .brand {
		float: left;
	}
	
	.masthead .navigation {
		position: absolute;
		top: 100%;
		width: 100%;
		background: #212121;
	}
	
	.masthead .utility {
		float: right;
		width: 65%;
		text-align: right;
		max-width: 960px;
		margin: 0 auto;	
	}
	
/* ???TRYING TO GET THE HEADERS TO BE WIDTH 100%???	 */

	.masthead {
		
	}

.secondary {
	float:right;
	width: 25%;
	height: 100px;
	overflow:scroll;
}	
	
	
	
/* main event listings */	
	
	.main {
		margin-left: 20px;
	}
	
	.main .content {
		display: inline-block;
		width: 75%;
		max-width: 658px;
		margin-left: 10px;
		font-family: Caxton Std;
		
	}
	
	.main .item {
		display: inline-block;
		width: 75%;
		
	}
	
	.main .header {
		position: relative;
		margin: 0 auto;
		text-align: center;
	}
	
	.main .meta {
		position: absolute;
		top: 0px;
		width: 100%;
	}
	
	.main .date {
		float: left;
		margin: 0 auto;		
	}
	
	.main .location {
		float: right;
		right: 0px;
		margin: 0 auto;
	}
	
	
	
}

/*
Added to test dropdown menu
*/
.masthead {
	position: relative;
	z-index: 2;
}

.masthead .utility {
	position: relative;
	z-index: 2;
}

.page {
	position: relative;
	z-index: 1;
}

.cbp-spmenu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 400px;
	height: 0;
	padding: 39px 15px 15px;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	background: #333333;
	transition: all .3s linear;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
}

/* ABOUT */
 
.js-about-active #cbp-spmenu-s3 {
	padding: 39px 15px 15px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.js-about-active .masthead .utility .link[href*="#About"] {
	background-color: black;
}

/* CONTACT */

.js-contact-active #cbp-spmenu-s4 {
	padding: 39px 15px 15px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.js-contact-active .masthead .utility .link[href*="#Contact"] {
	background-color: black;
}

/* SUBSCRIBE */

.js-subscribe-active #cbp-spmenu-s5 {
	padding: 39px 15px 15px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.js-subscribe-active .masthead .utility .link[href*="#Subscribe"] {
	background-color: black;
}

/* ARCHIVES */

.js-archives-active #cbp-spmenu-s6 {
	padding: 39px 15px 15px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.js-archives-active .masthead .utility .link[href*="#Archives"] {
	background-color: black;
}

/* LOGIN */

.js-login-active #cbp-spmenu-s7 {
	padding: 39px 15px 15px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.js-login-active .masthead .utility .link[href*="#Login"] {
	background-color: black;
}

/* SEARCH */

.js-search-active #cbp-spmenu-s8 {
	padding: 39px 15px 15px;
	height: auto;
	max-height: 1000px;
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.js-subscribe-active .masthead .utility .link[href*="#Search"] {
	background-color: black;
}