body {
    margin: 0;
    font-family: UniversLTStd-Light;
}

#whole-page {
    display: none;
}

#loading {
    position: absolute;
    z-index: 99999999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
/*add whatever you want the loading screen to be here*/
    background-color: lawngreen;
}

.gradient {
    opacity: .4;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
}


#connor {
    position: absolute;
    font-size: 14pt;
    z-index: 9999999;
    left: 50px;
    top: 1%;
}

.keep-name {
    pointer-events: none;
}

.connor-info-toggle,
.overview-toggle,
.project-details-toggle {
    cursor: pointer;
}

.connor-info {
    position: absolute;
    left: -500px;
    top: 0;
    width: 500px;
    height: 100%;
    background-color: white;
    z-index: 9998;
}

.connor-info .connor-info-toggle p {
    margin-left: 50px;
    margin-top: 80px;
    padding-right: 50px;
}

.connor-info .connor-info-toggle {
    position: absolute;
	top: 12px;
	right: 10px;
}

.thumbnail-icon {
    position: absolute;
    width: 100%;
    top: 3%;
    text-align: center;
}

#tops {
    position: relative;
    font-size: 10pt;
    z-index: 9999;
}

.overview {
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: -500px;
    width: 100%;
    height: 500px;
    background-color: white;
    z-index: 9998;
    box-sizing: border-box;
    padding: 3% 17% 3% 17%;
}

.overview .overview-toggle {
    position: absolute;
	top: 12px;
	right: 10px;
}

.thumbnail {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    margin: 15px;
    overflow: hidden;
}

.thumbnail-text {
    display: none; 
}

.thumbnail:hover .thumbnail-text {
    display:block;
}

.thumbnail-text {
    width: 100%;
    text-align: center;
    position: fixed;
    font-size: 96px;
    z-index: 99999;
    top: 75px;
    left: 0;
    pointer-events: none;
}

.thumbnail p {
    color: white;
    text-shadow: 0 0 .15rem rgba(0,0,0,1);
}

.thumbnail {
    overflow: visible;
}

.project-label {
    cursor: pointer;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2%;
    z-index: 9998;
}

.project-label h1 {
    font-size: 14px;
    font-weight: 300;   
}

.project-item .project-name {
    display: none;
}

.project-item .project-description {
    display: none;
}

#bottoms {
    position: relative;
    font-size: 10pt;
}

.project-details {
    position: fixed;
    bottom: -300px;
    width: 100%;
    height: 300px;
    background-color: white;
    z-index: 9998;
    box-sizing: border-box;
}

.project-details p {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    width: 70%;
	top: 12px;
	right: 50px;  
}

.project-details h1 {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    width: 3x0%;
	top: 12px;
	left: 50px;  
}

.r {
    display: none;
	background-color: red;
	opacity: .5;
	position: absolute;
	right: 0;
	top: 0;
	width: 8%;
	min-width: 110px;
	height: 100%;
    z-index: 999;
}

.l {
    display: none;
	background-color: red;
	opacity: .5;
	position: absolute;
	left: 0;
	top: 0;
	width: 8%;
	min-width: 110px;
	height: 100%;
    z-index: 999;
}

.t {
    display: none;
	background-color: red;
	opacity: .5;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 50px;
	height: 8%;
    z-index: 999;
}

.b {
    display: none;
	background-color: red;
	opacity: .5;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 50px;
	height: 8%;
    z-index: 999;
}

.normal {
	position: absolute;
	right: 50px;
	top: 50%;
	margin-top: -5px;
}

/*This is just used to slide the element*/

.project-item {
    display: none;
/*
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -50%;
    left: -150%;
    top: 0;
*/
}

.curr {
    display: block;
}

.text {
    display: none !important;
}

#image {
    position: relative;
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto 1em;
}
    
.embed-wrapper {
    position: relative;
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto 1em;
}

.module:last-child {
    margin-bottom: 0;
}

#move {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

#box1 {
    left: 50%;
    background-color: azure;
}

#box2 {
    background-color: beige;
}

#box3 {
    background-color: tan;
}

#box4 {
    background-color: aquamarine;
}

#box5 {
    background-color:aqua;
}



/*
article img {
    max-width: 80%;
    margin: auto;
}
*/

.scroll {
    cursor: row-resize;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    height: 80%;
}

#limit-t {
    cursor: n-resize;
	display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(0,188,255);
}

#limit-r {
    cursor: e-resize;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
/*    background-color: rgb(0,230,0);*/
    z-index: 9997;
}

#limit-b {
    cursor: s-resize;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(0,0,0);
}

#limit-l {
    cursor: w-resize;
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
/*    background-color: rgb(255,45,0);*/
    z-index: 9997;
}

/*MEDIA QUERIES*/


@media (max-width: 1200px) {
    
#image {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em;
}
    
.overview {
    overflow: scroll;
    position: absolute;
    top: -600px;
    width: 100%;
    height: 600px;
    background-color: white;
    text-align: center;
    z-index: 9998;
    box-sizing: border-box;
    padding: 3% 17% 3% 17%;
}

.thumbnail {
    cursor: pointer;
    position: relative;
    height: 158px;
    display: block;
    float: left;
    margin: 10px;
    overflow: hidden;
}
    
.project-details p {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    width: 70%;
    padding-left: 0;
    padding-right: 0;
	top: 12px;
	left: 250px;  
}

.project-details h1 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    position: absolute;
    padding-left: 0;
    width: 30%;
	top: 12px;
	left: 50px;  
}
    
}


@media (max-width: 795px) {

.overview {
    overflow: scroll;
    position: fixed;
    text-align: center;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9998;
    box-sizing: border-box;
    padding: 75px 8% 2% 8%;
}
    
.thumbnail {
    cursor: pointer;
    position: relative;
    height: 158px;
    display: block;
    float: left;
    margin: 10px;
    overflow: hidden;
}
    
#image {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1em;
}
    
.thumbnail-icon {
    position: absolute;
    width: 100%;
    top: 3%;
    text-align: right;
}
    
#tops {
    margin-right: 50px;    
}
    
.project-details {

}

.project-details p {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    width: 85%;
    padding-left: 50px;
    padding-right: 50px;
	top: 12px;
    left: 0;
}

.project-details h1 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    position: relative;
    width: 100%;
    padding-left: 50px;
	top: 12px;
    left: 0;
}
    
.connor-info {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9998;
}

}


@media (max-width: 670px) {
  
.overview {
 
}
    
.thumbnail {
    margin-top: 25px;
    overflow: auto;
}

.thumbnail-text {
    position: absolute;
    display: inline-block;
    width: 158px;
    text-align: left;
    font-size: 16px;
    top: 200px;
    z-index: 99999;
}

.thumbnail p {
    color: black;
    text-shadow: 0 0 0rem rgba(0,0,0,0);
}
    
.thumbnail:hover:after {
    opacity:1;
}

.thumbnail:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.25);
    opacity:0;
}
    
}

